{
  "url": "https://www.langton.cloud",
  "server": {
    "port": 2368,
    "host": "127.0.0.1"
  },
  "database": {
    "client": "mysql",
    "connection": {
      "host": "ghost-rds.langton.cloud",
      "user": "ghost",
      "password": "",
      "database": "ghost"
    }
  },
  "mail": {
    "transport": "Direct"
  },
  "logging": {
    "transports": [
      "file",
      "stdout"
    ]
  },
  "storage": {
    "active": "s3",
    "s3": {
      "bucket": "chrisdlangton",
      "pathPrefix": "ghost/",
      "serverSideEncryption": "AES256"
    }
  },
  "process": "systemd",
  "paths": {
    "contentPath": "/var/www/ghost/content"
  }
}