<header class="topnav" id="topnav">
    <a href="/"{{#page.index}} class="active"{{/page.index}}>Home</a>
    <a href="/services.html"{{#page.services}} class="active"{{/page.services}}>Services</a>
    <a href="/contact.html"{{#page.contact}} class="active"{{/page.contact}}>Contact</a>
    <a href="/about.html"{{#page.about}} class="active"{{/page.about}}>About</a>
    <a href="javascript:void(0)" class="icon" onclick="toggleResponsiveMenu()">&#9776;</a>
</header>